
<header>
    <h1>Story Settings</h1>
</header>

<main>

    <h2>Story Settings</h2>
    <div class="info">
        <p>Hold down the button to hear a preview of the voices</p>
        <button><img src="./assets/images/Solid/Outline/Essentional, UI/Vector.svg"></button>

        <dialog closed>
            <h3>Voice colours explained</h3>
            <p>There are a few different voices. To help you pick out the right one, you can press down to listen to a preview and/or look at the different colours and get an idea of the voices.</p>

            <svg width="92" height="42" viewBox="0 0 92 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="42" width="41.5364" height="41.5364" rx="4" transform="rotate(90 42 0)" fill="#1CB854"/>
                <path d="M63.9041 15.832V27H61.6641V22.248H56.8801V27H54.6401V15.832H56.8801V20.424H61.6641V15.832H63.9041ZM67.2449 17.08C66.8502 17.08 66.5195 16.9573 66.2529 16.712C65.9969 16.456 65.8689 16.1413 65.8689 15.768C65.8689 15.3947 65.9969 15.0853 66.2529 14.84C66.5195 14.584 66.8502 14.456 67.2449 14.456C67.6395 14.456 67.9649 14.584 68.2209 14.84C68.4875 15.0853 68.6209 15.3947 68.6209 15.768C68.6209 16.1413 68.4875 16.456 68.2209 16.712C67.9649 16.9573 67.6395 17.08 67.2449 17.08ZM68.3489 18.136V27H66.1089V18.136H68.3489ZM74.034 17.992C74.6953 17.992 75.2767 18.1253 75.778 18.392C76.2793 18.648 76.674 18.984 76.962 19.4V18.136H79.218V27.064C79.218 27.8853 79.0527 28.616 78.722 29.256C78.3913 29.9067 77.8953 30.4187 77.234 30.792C76.5727 31.176 75.7727 31.368 74.834 31.368C73.5753 31.368 72.5407 31.0747 71.73 30.488C70.93 29.9013 70.4767 29.1013 70.37 28.088H72.594C72.7113 28.4933 72.962 28.8133 73.346 29.048C73.7407 29.2933 74.2153 29.416 74.77 29.416C75.4207 29.416 75.9487 29.2187 76.354 28.824C76.7593 28.44 76.962 27.8533 76.962 27.064V25.688C76.674 26.104 76.274 26.4507 75.762 26.728C75.2607 27.0053 74.6847 27.144 74.034 27.144C73.2873 27.144 72.6047 26.952 71.986 26.568C71.3673 26.184 70.8767 25.6453 70.514 24.952C70.162 24.248 69.986 23.4427 69.986 22.536C69.986 21.64 70.162 20.8453 70.514 20.152C70.8767 19.4587 71.362 18.9253 71.97 18.552C72.5887 18.1787 73.2767 17.992 74.034 17.992ZM76.962 22.568C76.962 22.024 76.8553 21.56 76.642 21.176C76.4287 20.7813 76.1407 20.4827 75.778 20.28C75.4153 20.0667 75.026 19.96 74.61 19.96C74.194 19.96 73.81 20.0613 73.458 20.264C73.106 20.4667 72.818 20.7653 72.594 21.16C72.3807 21.544 72.274 22.0027 72.274 22.536C72.274 23.0693 72.3807 23.5387 72.594 23.944C72.818 24.3387 73.106 24.6427 73.458 24.856C73.8207 25.0693 74.2047 25.176 74.61 25.176C75.026 25.176 75.4153 25.0747 75.778 24.872C76.1407 24.6587 76.4287 24.36 76.642 23.976C76.8553 23.5813 76.962 23.112 76.962 22.568ZM86.3978 18.008C87.0698 18.008 87.6671 18.1573 88.1898 18.456C88.7124 18.744 89.1178 19.176 89.4058 19.752C89.7044 20.3173 89.8538 21 89.8538 21.8V27H87.6138V22.104C87.6138 21.4 87.4378 20.8613 87.0858 20.488C86.7338 20.104 86.2538 19.912 85.6458 19.912C85.0271 19.912 84.5364 20.104 84.1738 20.488C83.8218 20.8613 83.6458 21.4 83.6458 22.104V27H81.4058V15.16H83.6458V19.24C83.9338 18.856 84.3178 18.5573 84.7978 18.344C85.2778 18.12 85.8111 18.008 86.3978 18.008Z" fill="black"/>
            </svg>

            <svg width="86" height="43" viewBox="0 0 86 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="41.5361" y="0.536377" width="41.5364" height="41.5364" rx="4" transform="rotate(90 41.5361 0.536377)" fill="#332E72"/>
                    <path d="M56.8801 25.7604H60.5601V27.5364H54.6401V16.3684H56.8801V25.7604ZM65.9199 27.6804C65.0665 27.6804 64.2985 27.4937 63.6159 27.1204C62.9332 26.7364 62.3945 26.1977 61.9999 25.5044C61.6159 24.811 61.4239 24.011 61.4239 23.1044C61.4239 22.1977 61.6212 21.3977 62.0159 20.7044C62.4212 20.011 62.9705 19.4777 63.6639 19.1044C64.3572 18.7204 65.1305 18.5284 65.9839 18.5284C66.8372 18.5284 67.6105 18.7204 68.3039 19.1044C68.9972 19.4777 69.5412 20.011 69.9359 20.7044C70.3412 21.3977 70.5439 22.1977 70.5439 23.1044C70.5439 24.011 70.3359 24.811 69.9199 25.5044C69.5145 26.1977 68.9599 26.7364 68.2559 27.1204C67.5625 27.4937 66.7839 27.6804 65.9199 27.6804ZM65.9199 25.7284C66.3252 25.7284 66.7039 25.6324 67.0559 25.4404C67.4185 25.2377 67.7065 24.939 67.9199 24.5444C68.1332 24.1497 68.2399 23.6697 68.2399 23.1044C68.2399 22.2617 68.0159 21.6164 67.5679 21.1684C67.1305 20.7097 66.5919 20.4804 65.9519 20.4804C65.3119 20.4804 64.7732 20.7097 64.3359 21.1684C63.9092 21.6164 63.6959 22.2617 63.6959 23.1044C63.6959 23.947 63.9039 24.5977 64.3199 25.0564C64.7465 25.5044 65.2799 25.7284 65.9199 25.7284ZM84.475 18.6724L81.883 27.5364H79.467L77.851 21.3444L76.235 27.5364H73.803L71.195 18.6724H73.467L75.035 25.4244L76.731 18.6724H79.099L80.763 25.4084L82.331 18.6724H84.475Z" fill="black"/>
            </svg>                    
        </dialog>
    </div>    

    <div>
        <ul>
            <li>
                <img src="" alt="">
                <p>Read aloud yourself</p>
            </li>

            <li>
                <p>vera</p>
            </li>

            <li>
                <p>daan</p>
            </li>

            <li>
                <p>michel</p>
            </li>
        </ul>
    </div>


    <h4>Pick a background</h4>
    <p>Pick a background during the story</p>

    <!-- thema's -->
    <div id="thema">
        <label for="1">
            <div class="1"><img src="./assets/dark-setting.svg" alt="night time theme"></div>
            <input type="radio" name="thema" id="1" >
        </label>

        <label for="2">
            <div><img src="./assets/daylight-setting.svg" alt="day time theme"></div>
            <input type="radio" name="thema" id="2" >
        </label>

        <label for="3">
            <div><img src="./assets/sunset-setting.svg" alt="sunset theme"></div>
            <input type="radio" name="thema" id="3" >
        </label>


        <!-- EMT -->
        <!-- label>img+p -->
        <!-- <label for="">
            <img src="" alt="">
            <p></p>
        </label>
 -->

    </div>
</main>

<style>
    :root{
        --background-color: linear-gradient(1.76deg, #142151 1.49%, #471871 98.51%);
        --greenbutton: #139943;
        --regularfont: 'Poppins-Regular', sans-serif;

    }
    
    @font-face {
        font-family: 'Poppins-Regular', sans-serif;
        src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
    }

    body{
        font-family: var(--regularfont);
        background-color: #471871;
        color: white;
        margin: 1em;
    }

    h1, h2, h3, h4{
        font-size: 20px;
    }

    h1{
        text-align: center;
    }

    p{
        font-size: 12px;
    }

/* story settings */
    .info{
        display: flex;
        flex-direction: row;
        gap: 1em;
    }


    .info button{
        background-color: transparent;
        border: none;
    }

/* speakers */

ul{
    padding: 0;
}

li{
    list-style: none;
}

/* thema's */
    input{
        appearance: none;
    }

    #thema{
        display: flex;
        flex-direction: row;

    }

    label:has(input:checked) div {
        outline: solid red;
        /* outline-offset: 20px; */
    }

    label{
        width: min-content;
        height: 100%;
    }

    .dark{
        background-color: #5b0f9f;
        color: white;
    }


    .daylight{
        background-color: lightblue;
        color: black;
    }

    .sunset{
        background-color: orange;
        color: black;
    }
</style>

<script>

// Bedenk een naam die nog niet in gebruik is en declareer die met let;
// Selecteer met JavaScript het juiste element uit de DOM met behulp van document.querySelector();
// Gebruik in JavaScript naam.addEventListener() om een event aan een element te koppelen;
// Gebruik in JavaScript naam.classList.toggle() om een andere class aan een element toe te voegen.
// ProTip: Gebruik bij elke stap console.log() om te controleren of alles werkt zoals je verwacht dat het werkt.

let achtergrond1 = document.getElementById("1");

achtergrond1.addEventListener('click', function(){
    document.body.classList.toggle('dark');
});

let achtergrond2 = document.getElementById("2");

achtergrond2.addEventListener('click', function(){
    document.body.classList.toggle('daylight');
});

let achtergrond3 = document.getElementById("3");

achtergrond3.addEventListener('click', function(){
    document.body.classList.toggle('sunset');
});





</script>


<%- include('./partials/foot') %>