:root {
    --background-color: linear-gradient(1.76deg, #142151 1.49%, #471871 98.51%);
    --greenbutton: #139943;
    --regularfont: 'Poppins-Regular', sans-serif;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
}


body{
    background: linear-gradient(180deg, rgba(71,24,113,1) 0%, rgba(20,33,81,1) 100%);
    color: white;
    font-family: var(--regularfont);
    margin: 1em;
}

h1 {
    text-align: center;
}

button {
    background-color: var(--greenbutton);
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border:none; 
    color: white; 
    font-size: 14px; 
    text-align: center; 
    cursor: pointer;
    padding: .5em;
    border-radius: .5em;
}

/* button{
    border:none; 
    color: white; 
    font-size: 14px; 
    text-align: center; 
    cursor: pointer;
    outline: none;
    padding: .5em;
} */


/* own playlist */
h2{
    margin-top: 2em;
    margin-bottom: .5em;
    font-size: 20px;
    color: white;
}


.playlist{
    background-color: white;
    width: 35%;
    text-align: center;
    color: black;
    margin-top: 0;
    padding: 1em;
    border-radius: .5em;
    display: grid;
}

.playlist p{
    text-align: left;
    font-size: 11px;
}

.time{
    padding: 0;
    margin: 0;
    display: grid;
    align-content: center;
}

.time svg{
    grid-area: 1/ 1/ 2 / 2;
}

.time p{
    grid-area: 1/ 2 / 2 /3;
    margin: 0;
    margin-top: .5em;
}

/* .make-your-own{
    background-color: #494375;
    border-radius: .5em;
    width: 35%;
} */

.make-your-own p{
    color: white;
}


/* all stories */
a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    
}


.stories{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: visible; */
}

article{
    background-color: white;
    padding: 1em;
    border-radius: .5em;
    display: grid;
    grid-template-columns: 1fr, 4fr, .5fr;
    grid-template-rows: 1fr repeat(3);
    margin-bottom: 1em;
}

h4, p{
    color: black;
    padding-left: 1em;
}

article img{
    grid-area: 1/1/4/2;
    width: 67px;
    height: auto;
    border-radius: .5em;
}


article p{
    grid-area: 2/2/3/4;
    margin: 0;
}

article h2{
    grid-area: 1/2/2/3;
    margin: 0;
}

.taal{
  grid-area: 1/3/2/4;  
}

.play{
    grid-area: 3/2/4/4;
    padding-top: .5em;
    display: flex;
    flex-direction: row;
}


p{
    font-size: 8px;
}

.stories svg{
    padding-left: .5em;
}

/* all stories nav */
h3{
    margin-bottom: 0;
}

h4{
    font-size: 10px;
    margin: 0;
}

nav{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr;
}
   
ul{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr;
   

    grid-area: 1/1/2/2;
    padding-left: 0;
}

li{
    list-style: none;
    background-color: white;
    color: black;
    font-size: 12px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    max-width: fit-content;
    border-radius: 5%;
}

li:first-child{
    grid-area: 1/1/2/2;
}

li:nth-child(2){
    grid-area: 1/2/2/3;
}

nav p{
    grid-area: 1/2/2/3; 
    font-size: 12px;
    color: white;
    text-align: end;
}

/* liked playlist */
h5, h6{
    font-size: 20px;
}

.likedPlaylist p{
    font-size: 14px;
    color: white;
    text-align: center;
}

#hartje{
    background-color: transparent;
}

#hartje img{
    width: 24px;
    height: 24px;
}

#hartje img:hover{
    background-color: #139943;
}